* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Nunito', sans-serif

}

ul {
    list-style: none;
}

body {
    margin: auto;
    background-color: #F2F2F2;
}


/*Barra de navegación*/

header {
    background-color: white;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}

header .logo {

    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

header .logo img {
    height: 75px;
    width: 75px;
    margin: 0;
    padding: 0;

}

#navHeader {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-bottom: 0px;
    margin: 0;
    height: 100px;

}

#navHeader a {
    height: 34px;
    padding: 5px 12px;
    margin-bottom: 0px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #1B8CA6;

}


header a:hover {
    /*background-color: #038C5A;*/
    color: #038C5A;
    text-decoration: underline;
}

/* Formato de Título principal*/

#page_title {
    z-index: 19;
    color: #F2F2F2;
    padding: 70px 15px 150px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #1B8CA6, #02734A);;
    border-bottom: #02734A solid 10px;
    float:center;
  }
  
  /* Imagen principal de la página */
  
  .center {
    border: #F2F2F2 10px solid;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    float: center;
    margin-top: -120px;
    object-fit: cover;
  }


.line {
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
    height: 5px;
    background-color: #02734A;
    margin-bottom: 0;
}

.texto {
    margin-top: 25px;
    width: 90%;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    float: center;
    text-align: justify;

}

.texto+section {
    margin-top: 25px;
    margin-bottom: 10%;
}

#misionVision {
    display: flex;
    margin-top: 75px;
    margin-left: 0;
    margin-right: 0;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 75px;
    flex-wrap: wrap;
}

#misionVision article {
    width: 45%;
    border-radius: 25px;
    min-width: 300px;
    margin-top: 25px;

}

#misionVision article p {
    padding: 1rem 2rem;


}

/*Acordeón*/

.accordion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
    max-width: 1000px;
    margin: 0 auto;
}

.panel {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;

}

.panel-header {
    background-image: linear-gradient(to right, #1B8CA6, #038C5A);
    color: white;
    padding: 15px;

    text-align: center;
}

.der {
    background-image: linear-gradient(to right, #1B8CA6, #038C5A);
}

.izq {
    background-image: linear-gradient(to right, #038C5A, #1B8CA6);
}

.panel-content {
    padding: 2%;
    margin: 2%;
    line-height: 1.5;
    text-align: justify;

}

.listaMetas {
    display: flex;
    max-width: 80%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #038C5A;
    margin: 2rem auto;
    animation-name: cambiaColor;
    animation-duration: 6s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 2rem;
}

#silos {
    max-width: 50%;
    border-radius: 2rem 0rem 0rem 2rem;
}


@keyframes cambiaColor {
    0% {
        background-color: #038C5A;
    }

    50% {
        background-color: #1B8CA6;
    }

    100% {
        background-color: #038C5A;
    }
}


.listaMetas ul {
    width: 75%;
    list-style: decimal;
    color: #F2F2F2;
}

.listaMetas li {

    margin: 1rem;
}

.listaMetas h4 {
    margin-top: 1%;
    text-align: center;
    color: #F2F2F2;
    padding: 1%;



}

footer {
    z-index: 0;
    padding-top: 25px;
    background-color: #1B8CA6;
    border-top: #02734A solid 10px;
    height: 250px;
    color: #F2F2F2;

}


#footer_info {

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

footer section {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer section p {

    margin: 0;
}

footer nav {

    display: flex;
    justify-content: space-evenly;
    /*font-weight: bold;
    color: black;
    font-size: 1.40em;*/

}

#footer_links {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

footer section ul {
    padding: 0;
}


footer nav a {

    text-decoration: none;
    color: #F2F2F2;
}

footer nav a .rrss {
    margin-top: 25px;
}

i {

    font-size: 1.5rem;
}

footer nav a:hover {
    color: brown
}

footer nav a:focus {
    color: brown
}



#copyright {
    margin-top: 20px;
    text-align: center;

}



.tag {
    opacity: 0;
    transform: translate(-10vh, 0);
    transition: all 2.25s;
}



.tag.visible {
    opacity: 1;
    transform: translate(0, 0);
}


@media (min-width: 900px) {







    #misionVision h4 {
        text-align: center;
        padding: 1rem 2rem 0 2rem;
    }






}



@media (max-width: 768px) {

    /*para vista del acordeón en celular*/
    .accordion {
        max-width: 90%;
    }

    .accordion {
        grid-template-columns: 1fr;
    }
}




@media (min-width: 720px) {


    .line {
        margin-top: 5%;
        width: 50%;
        margin-left: 25%;
        height: 5px;
        background-color: #02734A;
        margin-bottom: 0;
    }

    .texto {
        margin-top: 25px;
        width: 50%;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        float: center;
    }

    .texto+section {
        margin-top: 25px;
        margin-bottom: 5%;
    }

    header {
        flex-direction: row;
        justify-content: space-around;
        height: 100px;
        margin-top: 0px;
    }

    #navHeader {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    .listaMetas {
        flex-direction: row;
        margin: 5% 10%;
        width: auto;
    }



    .listaMetas ul {
        width: 50%;
        list-style: decimal;
        color: #F2F2F2;
    }


}

@media screen and (min-width:424px) {
    header ul {
        column-gap: 1rem;

    }

    #footer_info {
        flex-direction: row;
    }

}









/*

Colores nuevos


Azul Claro
#1BA1BF

Azul Oscuro
#1B8CA6

Verde
#038C5A

Verde Mas oscuro
#02734A

Blanco
#F2F2F2


*/