* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

/*Barra de navegación*/

header {
  background-color: white;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  width: 100%;
  height: 200px;
}

header .logo {

  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

header .logo img {
  height: 75px;
  width: 75px;
  margin: 0;
  padding: 0;

}

#navHeader {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding-bottom: 0px;
  margin: 0;
  height: 100px;

}

#navHeader a {
  height: 34px;
  padding: 5px 12px;
  margin-bottom: 0px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #1B8CA6;

}


header a:hover {
  /*background-color: #038C5A;*/
  color: #038C5A;
  text-decoration: underline;
}


/*Body*/

/*Título principal*/

.title{
  z-index: 19;
  color: #F2F2F2;
  padding: 70px 15px 150px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  background-image: linear-gradient(to bottom, #1B8CA6, #02734A);;
  border-bottom: #02734A solid 10px;
  float:center;
}

.imagen{
  border: #F2F2F2 10px solid;
  border-radius: 10px;
  display: block;
  width: 80%;
  height: auto;
  float: center;
  margin: auto;
  margin-top: -120px;
  object-fit: cover;
}

/*Subtítulos*/

#h2 {
  color: rgb(2 115 74); 
  padding: 3rem 1rem 1rem 1rem;
  text-align: center;
  }

/*Primer párrafo*/

#text_one{
  text-align: justify;
  margin: 1rem auto;
  max-width: 80%;
  background-color: #1B8CA6;
  color:white;
  font-size: 20px;
  padding: 2rem;
  animation: fadein 2s;
  border-radius: 2rem;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/*Segundo párrafo*/

#text_two{
  text-align: justify;
  margin: 1rem auto;
  max-width: 80%;
  color:black;
  font-size: 18px;
  }

/*Listas*/

.listas{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  max-width: 80%;
  margin: 0 auto; 
  }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }

li {
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
  }

  
/*Carrusel*/

.carrusel {
  margin-top: 1rem;
  border: #F2F2F2 10px solid;
  border-radius: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  float: center;
  position: relative;
  overflow: hidden;
  }

.slide-arrow {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  background-color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 20;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
  height: 4rem;
  font-size: 3rem;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-next {
  right: 0;
  z-index: 20;
}

.slide {
  display: flex;
  scroll-behavior: smooth;
  list-style: none;
  width: 300%;
  height: 80vh;
  transition: all 0.5s ease;
  transform: translateX(0);
  overflow: hidden;
}

*article {
  height: 80vh;
  width: 100%;
  object-fit: cover;
  background-color: #02734A;
  overflow: hidden;
  color: #F2F2F2;
}

article img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: #02734A;
  overflow: hidden;
  }

.banner {
  width: 60%;
  position: relative;
  top: -150px;
  left: 20%;
  z-index: 20;
  background-color: rgba(27,140,166, 0.65);
  color: white;
  border-radius: 5px;
  text-align: center;
}

.banner h5 {
  text-align: center;
  }

.banner p {
  padding: 5%;
}

/*Logos de empresas*/

.containercolab {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  }

.containercolab img {
  flex: 1;
  max-height: 100px; /* Ajusta la altura máxima que queremos para los logos */
  object-fit: contain; /* Ajusta el tamaño de la imagen para conservar sus proporciones originales */
}



@media screen and (min-width:720px) {
  
  header {
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    margin-top: 0px;
  }

  #navHeader {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
  }

  #navHeader a {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  #head_icon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
  }

    #carouselExample {
    height: auto;
    width: 340px;
    margin: auto;
  }
  
  
  /*@media screen and (min-width:1100px) {
  #carouselExample {
    height: 100%;
    width: 340px;
    margin: auto;
  }

  .containercolab{
    margin: auto;
    width: 290px;
    display: flex;
    justify-content: center;
  }

  

/*        Footer            */

footer {
  z-index: 0;
  margin-top: 3rem;
  padding-top: 25px;
  background-color: #F2F2F2;
  border-top: #1B8CA6 solid 10px;
  height: 250px;
  color:#1B8CA6;
  }

/*footer{
  margin-top: 50px;
  height: 250px;
}*/

#footer_info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer section p{
  margin: 0;
}

footer nav{
  display: flex;
  justify-content: space-evenly;
  /*font-weight: bold;
  color: black;
  font-size: 1.40em;*/
}

#footer_links{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #1B8CA6;
  text-decoration: none;
}

.linkFoo{
  color: #1B8CA6;
  text-decoration: none;
}
footer section ul{
  padding-left: 0;
  padding-bottom: 20px;
  list-style: none;
}

footer nav a .rrss{
  margin-top: 2rem;
}

i{
  font-size: 1.5rem;
  color: #1B8CA6;
}

footer nav a:hover{
  color: #02734A;
  text-decoration: underline;

}

footer nav a:focus{
  color: #02734A;
}

#copyright p{
margin-top: 20px;
text-align: center;
color: #1B8CA6;
}

/* Ajuste de Pantalla menor a 720px */

@media (min-width: 720px) {

  header {
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    margin-top: 0px;
  }

  #navHeader {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
  }

  #navHeader a {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  
/* Ajuste de pantalla a menor 424px de ancho */

@media screen and (min-width:424px) {

  header ul {
    column-gap: 1rem;
  }

  #footer_info {
    flex-direction: row;
  }

  }
